.work_title {
    position: relative;
    z-index: 100;
}

#work_game {
    z-index: 1;
}

.work_footer {
    position: relative;
}

.work_content:hover {
    transform: scale(1.1);
    z-index: 2;
    background-color: gray;
}